@import '../../styles/media';

%button {
  box-shadow: none;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  height: 37px;
  font-size: 12px;
  padding: 0 15px;
  text-decoration: none;
  cursor: pointer;

  @include media-sm-up {
    font-size: 14px;
    min-width: 200px;
  }

  &:disabled {
    opacity: .5;
  }
}

.outlined {
  @extend %button;
  background-color: transparent;
  color: #000;
}

.filled {
  @extend %button;
  background-color: #000;
  color: #fff;
}